*{
  padding:0;
  margin:0;
}

body{
  background-image:url('https://image.freepik.com/free-vector/white-rhombus-pattern_1053-249.jpg'); 
}
#button{
  background-color:rgb(48, 123, 144)
  color:white;
}
header{
  background-color:rgb(48, 123, 144);
  width:796px;
  margin:auto;
  height:100px;
  color:white;
  text-align:center;
  margin-top:-22px;
  border:2px solid black;
  }


header h1{
  line-height: 100px;
}



p{
  color:white;
  display:inline;
}
.colcwcontent{
  width:300px;
}
.card{
  border:0px;
  width:300px;
  height:200px;
}
.card-header{
  width:300px;
}
.navbar {
    background-color: #31849B;
    border-color: #E7E7E7;
    margin-top: 0em;

}
/* Title */
.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #5BBEB4;

}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #5BBEB4;

}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;

}
/*navbar style end*/
.container-text{
  max-width:800px;
  margin:auto;
  height:200px;
  background-color:rgb(48, 123, 144);
  margin-bottom:2px;
  color:white;
}
.container{
  max-width:800px;
  margin:auto;
  font-family:arial;
}
.month{
  text-align:center;
  background:rgb(48, 123, 144);
  font-size:2.5em;
  letter-spacing:1px;
  color:white;
  padding:25px;
  border:2px solid black;
}
table, th, td{

  width:100%;
  table-layout:fixed;
  text-align:center;
  font-size:17px;
  border-collapse:collapse;
  border:2px solid Black;
  margin-top:2em;
}
tr, th, td{
  padding:15px
}
th{
  background:rgb(48, 123, 144);
  color:white;
}
td{
  background:white;
}
td:hover{
  background:rgb(48, 123, 144);
}
.container_introduction{
width:100%;
height:30px;
background-color:Red;
color:White;

}
