body {
  margin: 0;
  padding: 0;
  background: url('https://image.freepik.com/free-vector/white-rhombus-pattern_1053-249.jpg');
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
header{
  width:100%;
  height:70px;
  background-color:rgb(48, 123, 144);
  text-align:center;
  color:white;
}
.navbar {
    background-color: #31849B;
    border-color: #E7E7E7;
    margin-bottom: 1em;
    margin-top: 1em;
    margin:fixed;
}
a{
  text-decoration:none;
  
}
p{
  color:white;
  display:inline;
}
.navbar {
    background-color: #31849B;
    border-color: #E7E7E7;
    margin-top: 0em;

}
/* Title */
.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #5BBEB4;

}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #5BBEB4;

}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;

}
/*navbar style end*/
}
#imglogo{
width:10px;
height:50px;
float:left;
margin-left:10px;
margin-top:5px;
}

#logo2{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:right;
    margin-top:-50px;
    margin-right:-20px;
}

label{
  color:white;
}
.container_bg_color{
background-color:rgb(48, 123, 144);
padding:20px;
}

#success_message{ display: none;}

 #imgtop{
width:100%;
height:150px;
}

.afbeelding_container {
position: relative;
float: left;
}

.afbeelding_container .tekst_container {
position: absolute;
top: 10px;
left: 20px;
color: #FFFFFF;
}

.wrapper {
  width:100%;
  display:grid;
  align-self: stretch;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  grid-template-rows: minmax(100px, auto);
  grid-template-areas:
  "a b";
}
.f1 {
  grid-area:a;
}
.f2{
  grid-area:b;
}



.btn{
  margin-top:5px;
  padding-top:5px;

}
